.card-header.with-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table.has-actions tbody tr td:last-child:not(.dataTables_empty) {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.form-control.is-invalid ~ .select2 {
    outline: none !important;
    border-radius: 0.25rem !important;
    border: 1px solid #dc3545 !important;
}
